
.ma_icons {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.ma_icons>li {
  text-align: center;
  flex: 1;
}

#Layer_1 {
  width: 160px;
}

#Layer_1 line {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
}


#Layer_2 {
  width: 160px;
}

#Layer_2 line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

#Layer_2 path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

#Layer_2 polyline {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
}

#Layer_3 {
  width: 160px;
}

#Layer_3 polyline {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
}

.ma_icons li .icon svg path,
.ma_icons li .icon svg polyline,
.ma_icons li .icon svg circle,
.ma_icons li .icon svg rect,
.ma_icons li .icon svg line {
  transition: all 2s;
}

.ma_icons li .icon.on svg path,
.ma_icons li .icon.on svg polyline,
.ma_icons li .icon.on svg circle,
.ma_icons li .icon.on svg rect,
.ma_icons li .icon.on svg line {
  stroke-dashoffset: 0 !important;
}

.st0 {
  fill: none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}