/* common */
.wrap{
    width: 100%;
    }
.clearFix::after{
    content: '';
    display: block;
    clear: both;
}
.container1328{
    width: 1328px;
    margin: 0 auto;
}
button{
    border: none; 
    background-color: none;
}
h3.black_tit{
    font-size: 45px;
    font-weight: bold;
    color: #000;
}
.btn_orange{ 
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(248, 120, 73);
    padding: 20px 80px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn_w{ 
    font-size: 20px;
    font-weight: bold;
    background-color:#fff;
    padding: 20px 80px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.last{
    margin-right: 0 !important;
}

/* header */
#header{width: 90%; margin: 0 auto;}
.logo{float: left; padding: 40px 0;}
.logo>h1>a>img{width: 170px;}

#gnb{
    float: left; 
    margin-top: 50px; 
    margin-left: 20%;
}
#gnb>ul>li{float: left;}
#gnb>ul>li>a{
    font-size: 18px;
    color: #000;
    padding: 10px 50px; 
    box-sizing: border-box;
}
.srh{
    float: right;
     margin-top: 40px;
    }

/* figure */
#figure{
    width: 100%;
    height: 900px;
    background-color: lightgray;
    position: relative;
    background: url(../img/c9.png) no-repeat center/cover;
}
/* Glassmorphism card effect */
.figure_card {
    position: absolute;
    top:0; left:0;
    width: 40%; height: 100%;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.3);
}
.figure_tit{
    position: absolute;
    top:40%; left:10%;
    transform: translateY(-50%);
}
.figure_tit>h2{
    font-size: 74px;
    font-weight: bold; 
    color: #fff; 
}
.figure_tit>span{
    font-size: 30px; 
    font-weight: bold;
    color: #fff;
}
.figure_tit>span::before{
    content: ''; 
    display: block; 
    width: 80px; height: 2px;
    background-color: #fff; 
    margin: 40px 0;
}

/* travel */
.travel{
    height: 870px;
    position: relative;
}
.travel_tit{
    position: absolute; 
    top:200px; left: 0; 
    width: 50%; 
}
.travel_tit>h3{
    margin-bottom:40px;
}
.travel_tit>p{
    margin-bottom:80px;
    font-size: 21px;
    color: #000;
    line-height: 1.8;
}
.travel_tit>span{
    margin-bottom: 50px;
}
.travel_list{
    position: absolute; 
    top:200px; right:0; 
    width:45%;
    }
.travel_list>ul>li{margin-bottom: 50px;}
.travel_list>ul>li>a{
    display: block;
    width: 100%;
}
.travel_list>ul>li>a>.img{
    float: left;
    width: 25%;
}
.img>img{
    background-color:#fcf2eb;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.travel_list>ul>li>a>span{
    float: right;
    width: 75%;
    display: block;
    font-size: 20px;
    margin-top: 30px;
    color: #000;
}

/* discover */
.discover{width: 100%; 
    height:440px; 
    padding-top:100px ;
    box-sizing: border-box;
    background-image: url(../img/c7.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-position: center -1000px;
    background-attachment: fixed;
}
.discover_tit{
    width: 100%;
    text-align: center;
}
.discover_tit>h3{
    font-size: 54px;
    font-weight: bold;
    color: #fff;
}
.discover_tit>p{
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
}
.discover_tit>span{
    display: block; 
    width: 100%;
}

/* popular4 */
.popular4{
    margin-top: 150px;
    margin-bottom: 150px;
}
.popular4>h3{margin-bottom: 50px;}
.popular4_list{width: 100%;}
.popular4_list>div{
    width: 22%;
    height: 450px;
    float: left;
    margin-right:4%;
}
.list1>.thumb>span{background: url(../img/p1.jpg) no-repeat top/contain;}
.list2>.thumb>span{background: url(../img/p2.jpg) no-repeat top/contain;}
.list3>.thumb>span{background: url(../img/p3.jpg) no-repeat top/contain;}
.list4>.thumb>span{background: url(../img/p4.jpg) no-repeat top/contain;}
/* thumb */
.thumb{
    width:100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.thumb>span{
    display: block;
    width: 100%; height: 450px;
    transform: scale(1);
    transition: all 1s ease-in-out;
}
.thumb:hover>span{
    transform: scale(1.2);
}

.thumb_icon{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-28%);
    z-index: 3;
}
.thumb_txt{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.thumb_txt h4 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.popular4>span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

/* track */
.track{
    width: 100%;
    height: 600px;
    background: url(../img/c8.png)no-repeat center/cover;
    position: relative;
    overflow: hidden;
}
.track_tit{
    position: absolute;
    left: 50px; bottom:50px;
}
.track_tit>h3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.track_tit>span{
    color: #fff;
}
.track_pbtn{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

/* popular3 */
.popular3{
    margin-top: 150px;
    margin-bottom: 150px;
}
.popular3>h3{margin-bottom: 50px;}
.popular3>ul{width: 100%;}
.popular3_list>li{
    float: left;
    width: 31.333%; 
    margin-right: 3%;
    height:250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.popular3_list>li>a{
    display: block;
    width: 100%;
    position: relative;
}
.popular3_list>li>a>.info{
    position: absolute; 
    z-index: 3;
    color: #fff;
    top: -100px; left: 20px;
    transition: all .5s;
}
.popular3_list>li .info h4{
    font-size: 18px;
    margin-bottom: 4px;
}
.popular3_list>li img{
    display: block;
    width: 100%;
    height: auto;
}
.popular3_list>li>a::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute; top: 0; left: 0;
    transition: all .5s;
}
.popular3_list>li:hover>a>.info{top: 10px;}
.popular3_list>li:hover>a::after{opacity: 0.8;}

/* footer */
#footer{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #666;
    color: #fff;
}
